name: Push Clean Commit to Empty Repo

on:
  push:
    branches:
      - main

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Configure Git
        run: |
          git config --global user.email "Adnane.Mehdaoui@usmba.ac.ma"
          git config --global user.name "Adnane-me"

      - name: Check Secret
        env:
          GH_TOKEN: ${{ secrets.TEST }}
        run: |
          if [ -z "$GH_TOKEN" ]; then
            echo "❌ GH_TOKEN vide"
            exit 1
          fi
          echo "✅ Token OK"

      - name: Push orphan clean commit
        env:
          GH_TOKEN: ${{ secrets.TEST }}
        run: |
          # Supprimer tout l'historique local
          git checkout --orphan newmain
          git rm -rf .github || true
          git add .
          git commit -m "Orphan clean commit"

          # Remplacer remote vers repo Khadija
          git remote remove origin || true
          git remote add origin https://x-access-token:${GH_TOKEN}@github.com/khadijaelmaaroufi/testadnankhadija.git

          # Push sans historique
          git push origin HEAD:main --force
