name: Push Clean Commit to Empty Repo

on:
  push:
    branches:
      - main

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout du repo Actions
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      # 2️⃣ Configurer Git
      - name: Configure Git
        run: |
          git config --global user.email "Adnane.Mehdaoui@usmba.ac.ma"
          git config --global user.name "Adnane-me"

      # 3️⃣ Vérifier le secret
      - name: Check Secret
        

      # 4️⃣ Push clean commit avec debug
      - name: Push Clean Commit
        env:
          GH_TOKEN: ${{ secrets.TEST }}
        run: |
         
          

          # Initialiser repo Git
          git init
          git checkout -b main

          

          # Ajouter remote APRÈS git init
          git remote add khadija https://x-access-token:${GH_TOKEN}@github.com/khadijaelmaaroufi/testadnankhadija.git

          # Commit propre
          git add .
          git commit -m "Initial clean commit from workflow"

          # Pousser
          git push khadija main --force
