name: Push Clean Commit to Empty Repo

on:
  push:
    branches:
      - main

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Configure Git
        run: |
          git config --global user.email "Adnane.Mehdaoui@usmba.ac.ma"
          git config --global user.name "Adnane-me"

      - name: Check Secret
        run: |
          if [ -z "${{ secrets.TEST }}" ]; then
            echo "❌ Secret TEST is empty"
            exit 1
          else
            echo "✅ Secret TEST is present"
          fi

      - name: Push Clean Commit
        env:
          GH_TOKEN: ${{ secrets.TEST }}
        run: |
          # Ajouter remote vers repo Khadija
          git remote remove khadija || true
          git remote add khadija https://x-access-token:${GH_TOKEN}@github.com/khadijaelmaaroufi/testadnankhadija.git

          # Créer un dossier temporaire
          mkdir clean_repo
          shopt -s extglob

          # Copier le contenu SANS clean_repo
          cp -r !(clean_repo) clean_repo/

          cd clean_repo
          git init
          git checkout -b main
          git add .
          git commit -m "Initial clean commit from workflow"

          git push khadija main --force
