name: Push to Khadija Repo
on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config --global user.email "Adnane.Mehdaoui@usmba.ac.ma"
          git config --global user.name "Adnane-me"

      - name: Push to Khadija
        env:
          GH_TOKEN: ${{ secrets.TEST }}
        run: |
          # Supprime le remote si déjà ajouté
          git remote remove khadija || true
          # Ajoute le remote avec ton PAT
          git remote add khadija https://Adnane-me:${GH_TOKEN}@github.com/khadijaelmaaroufi/testadnankhadija.git
          # Push avec force pour créer la branche si nécessaire
          git push -u khadija main --force
